h1 {
    text-align: center;
    color:white;
}

nav {
    top: 0;
    left: 0;
    margin-top: 3em;
    width: 100%;
    background-color:#6e3953;
    padding: .75rem;
}
 
nav a {
    color: white;
    text-decoration: none;
}
 
nav li {
    display: inline;
    margin-right: 1rem;
}
 
nav ul {
    padding: 0;
    margin: 0;
    padding-top: .5rem;
    display: inline-block;
}

img {
    width: 20rem;
}
 
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

form {
    margin: .5rem 0;
    padding: .5rem 1rem;
    border: 1px solid black;
}

button {
    margin: .5rem 0;
    padding: .5rem 1rem;
}

footer a {
    color: white;
}

footer {
    color: white;
    background-color: #8c4969;
    padding-top: 1rem;
    font-size: 80%;
}

a:hover {
    text-decoration: underline;
    color: #edc2d8;
}