* {
    box-sizing: border-box;
}

h1 {
    text-align: left;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(255, 255, 255);
}

nav {
    top: 0;
    left: 0;
    margin-top: 3em;
    width: 100%;
    background-color:black;
    padding: .75rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
    padding-top: .5rem;
    display: inline-block;
}

img {
    width: 20rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }